# String

In [3]:
gender = "Male"
print(gender)
type(gender)

Male

str

In [2]:
gender = 'Male'
print(gender)
type(gender)

Male

str

In [4]:
print("fathrt's name")
print('father"s name')

fathrt's name
father"s name

In [1]:
# slicing
name = "Sultan Mahmud"
name[3]
name[0:5] # returns till (5-1)th position
name[0:6] # returns till (6-1)th position
name[0:6:2] # skips (2-1) index
name[0:6:3] # skips (3-1) index
name[-1] # -1 is last index
name[-2] # -1 is the index before last index
name[-1:-5] # -1 (last index), step size by default 1, -1+1=0, 0+1=1, 1+1=2, the index is running right from -1 instead of going to left
name[-1:-7:-1]
name[::-1] # reverse string, strting from 0 to end, step count -1, so 0+(-1)=-1, last index, then -1+(-1)=-2, second from last, etc.

'dumhaM natluS'

In [6]:
# methods
name = 'Sultan Mahmud'
email = "mahmudsultan125@gmail.com"
name.lower()
name.upper()
name.title() #makes the first letter Capital
name.capitalize() #makes the very first alphabet capital
name.swapcase() #swap uppercases to lower & vice versa
email.count('a') #case sensetive
email.find('@')
email.split('@')
email.replace('@', '$')
email.endswith('.com')
email.startswith('mahmud')
email.index('@') # will return the index of first character it gets
email.isalpha()

False

# Numbers

In [7]:
age = 24
type(age)

int

In [8]:
height = 172.546
type(height)

float

In [13]:
com = 2 + 3j
print(com)
print(com.real)
print(com.imag)
type(com)

(2+3j)
2.0
3.0

complex

# Boolean

In [15]:
is_married = True
is_married
type(is_married)

bool

# Type Casting

In [16]:
age = 24
float(age)

24.0

In [17]:
height = 172.69
int(height) # it will take the integer part only and will exclude the whole fraction part

172

In [20]:
num = "45.67"
# int(num) # as integer doesn't know what is the "." means, it will return error
float(num)

45.67

In [21]:
com

(2+3j)

In [24]:
int(com) 
float(com)
# as complex number has imaginary part, it cannot be converted to int or float

TypeError: float() argument must be a string or a real number, not 'complex'

In [26]:
complex(age)
complex(height)
# you can turn int or float to complex

(172.69+0j)

In [28]:
num1 = "4 5"
int(num)
# you can only convert 0-9 into int, space, dot, comma, alphabets won't be converted

ValueError: invalid literal for int() with base 10: '45.67'