# List

In [1]:
data = [21, 26, 3, 4, 5, 6, 78, 8, 50, True, False]
type(data)

list

In [2]:
# access
data[6]
data[-6]
data[::2]
data[2:7]
data[-4:-9:-1]

[8, 78, 6, 5, 4]

In [3]:
# update
data[6] = 79
data[-2::] = 1, 0
data

[21, 26, 3, 4, 5, 6, 79, 8, 50, 1, 0]

In [4]:
# methods
data = [1, 21, 25, 5, 2, 6, 78, 4, True, False]
data.append(54)
data.insert(2, 7)
data.extend([77, 88])
data.index(78)
data.count(78)
data.pop(1)
data.remove(4)
print(data)
data.sort(reverse=True)
sorted(data, reverse=True)
print(data)
data.reverse()
data.clear()
del data

[1, 7, 25, 5, 2, 6, 78, True, False, 54, 77, 88]
[88, 78, 77, 54, 25, 7, 6, 5, 2, 1, True, False]

# Shallow Copy & Deep Copy

In [5]:
d = [1, 2, 3, 4]

In [6]:
# deep copy
copy1 = d
copy1.append(99)
print(d)
print(copy1)

[1, 2, 3, 4, 99]
[1, 2, 3, 4, 99]

In [7]:
# shallow copy
copy2 = d.copy()
copy2.append(100)
print(d)
print(copy2)

[1, 2, 3, 4, 99]
[1, 2, 3, 4, 99, 100]

# Tuple

In [8]:
t = (1, 2, 3, 4)
type(t)

tuple

In [9]:
t[1:]
t[0:2]

(1, 2)

In [10]:
t[1]=0

TypeError: 'tuple' object does not support item assignment

# Set{}

In [ ]:
s = {1,2,3,3,4,5,6,6}
s.add(1.5)
s.remove(4) # if the value is not available it will return error
s.discard(9) # same as remove but even if the value is not available, it wont't return error but continue
s.pop()
s.pop()

2

In [ ]:
s1 = {2,3,5,4,6,8,9}
s2 = {4,5,8,9}
s1.union(s2)
s1.intersection(s2)
s1.difference(s2)
s2.difference(s1)
s1.issubset(s2)
s2.issubset(s1)
s1.issuperset(s2)
s1.isdisjoint(s2)
s1[0]

TypeError: 'set' object is not subscriptable

# Dictionary{}

In [ ]:
data1 = {'roll':23, 'name':"Sultan Mahmud", 'age':31}
type(data1)

dict

In [ ]:
# access
data1['roll'] # direct access, key name "roll" is case sensitive
data1.get('Roll') # accessed through function/method, although key does not match, it will not return error
data1.get('roll')

23

In [ ]:
# update
data1['roll'] = 13
data1

{'roll': 13, 'name': 'Sultan Mahmud', 'age': 31}

In [ ]:
# add
data1['dept'] = 'EEE'
data1['sub'] = ['Math', 'DLD', 'AC Current'] # comma separated list would provide return as list
# key should be unique; for duplicate key, latest one would be considered
# key value could be anything; but usually int & str is used, float is usually not used
data1

{'roll': 13,
 'name': 'Sultan Mahmud',
 'age': 31,
 'dept': 'EEE',
 'sub': ['Math', 'DLD', 'AC Current']}

In [18]:
# methods
data2 = {'roll': 13,
         'name': 'Sultan Mahmud',
         1: 24,
         'age': 31,
         'dept': 'EEE',
         'sub': ['Math', 'DLD', 'AC Current']}
data2.values() # will return the values only of the keys
data2.keys() # will return the keys only
data2.items() # will return keys & values in pair
data2.pop(1) # will pop the key "1"
data2.popitem() # will pop the last key
data2.update({1:2, 2:4, 3:9})
data2.fromkeys([4, 5, 6], 67)
data2.setdefault(12, 144)
data2

{'roll': 13,
 'name': 'Sultan Mahmud',
 'age': 31,
 'dept': 'EEE',
 1: 2,
 2: 4,
 3: 9,
 12: 144}

# Shallow Copy & Deep Copy

In [25]:
data3 = [1, 2, 3, 4, 5]

In [26]:
# shallow copy
var1 = data3
var1.append(99)
var1

[1, 2, 3, 4, 5, 99]

In [27]:
# deep copy
var2 = data3.copy()
var2.append(100)
var2

[1, 2, 3, 4, 5, 99, 100]

# Nested Data Structure

In [7]:
nested_list1 = [[1, 2], ['a', 'b'], [1.4, 2.5], [True, False]]
nested_list1[3]

[True, False]

In [10]:
nested_list1[2][0]

1.4

In [26]:
nested_list2 = [{'name1':'Sultan', 'name2':'Sharmin'}, {'dev1':'iPhone', 'dev2':'Infinix'}, {'OS1':'iOS', 'OS2':'Android'}, {'Price1':'40000','Price2':'20000'}]
nested_list2[3]

{'Price1': '40000', 'Price2': '20000'}

In [34]:
print(*nested_list2)

{'name1': 'Sultan', 'name2': 'Sharmin'} {'dev1': 'iPhone', 'dev2': 'Infinix'} {'OS1': 'iOS', 'OS2': 'Android'} {'Price1': '40000', 'Price2': '20000'}

In [52]:
nested_dict1 = {'child' : ['Zaif', 'Zayn'], 'MOB' : ['Sep', 'Jul']}
type(nested_dict1)
#print(**nested_dict1)
print(nested_dict1)
nested_dict1['child'][0]

{'child': ['Zaif', 'Zayn'], 'MOB': ['Sep', 'Jul']}

'Zaif'

In [58]:
nested_list1
lst_T = zip(*nested_list1)
print(lst_T)
print(list(lst_T))

<zip object at 0x0000014FC89017C0>
[(1, 'a', 1.4, True), (2, 'b', 2.5, False)]

In [67]:
nested_list4 = [{'Android':{'color':'Grey', 'version':12},'iOS':{'color':'Green','version':16.2}}, {'Android':{'amount':20000, 'currency':'BDT'}, 'iOS':{'amount':40000, 'currency':'BDT'}}]
print(nested_list4[0]['iOS']['color'])
print(nested_list4[1]['Android']['amount'])

Green
20000